body{
    background: rgb(12, 9, 26);
    color: rgba(249, 241, 241, 0.637);
    /* padding: 2em; */
}
.margin{
    margin: 2em;
}
input{
    background-color: #060625;
}

ul{
    padding: 0;
}
li{
    background-color: #faf9f917;
    margin: 0.5em;
    padding: 0.5em;
    list-style: none;
    border-radius: 0.5em;
    font-size: 1.2em;
    transition: all 0.2s ease-in-out;
    -webkit-user-modify: none;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, 0.112);
}
li:hover{
    background-color: rgba(250, 249, 249, 0.217);
    transform: scale(1.05);
}

li:active{
    transition: all 0.1s ease-in-out;
    /* transform: scale(1.05); */
}

#panels{
    padding: 1em;
    width: 100%;
}

#panels > div{
    border: 0.5px solid rgba(255, 255, 255, 0.379);
    margin: 2px;
    border-radius: 0.2em;
}

h1{
    color: rgba(209, 195, 255, 0.708);
}
.color-box{
    width: 1.5em;
    height: 1.5em;
    cursor:pointer;
    border-radius: 0.25em;
    position: relative;
    transition: all 0.1s;
    border: 1px solid #ffffff72;
}
.color-box:hover{
    border: 1px solid #00bfffeb;
    transform: scale(1.2);
}

textarea{
    background-color: transparent;
    border: 1px solid #ffffff1b;
    width: 100%;
    border-radius: 0.5em;
    padding: 5px;
    color: #ccc8fe;
    resize: none;
    height: 2em;
}
#save{
    border: 1px solid #ffffff3b;
    border-radius: 1em;
    color: #020203;
    background-color: transparent;
    cursor:pointer;
    padding: 5px 8px;
    margin-top: 5px;
    transition: all 0.1s ease-in-out;
    position: relative;
    right: 2px;
    filter: invert(100%);
}
#save:hover{
    /* transform: scale(1.1); */
    background-color: #ffffff1f;
    border-color: #006eff;
}
#save:active{
    transform: scale(0.9);
}

.edit{
    background:  url("../../../../images/edit.png") no-repeat center center/cover;
    display:none;
    height:1.4em;
    width:1.4em;
    background-size: 85%;
}